<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="/user" method="post" th:object="${user}">
    <table>
        <tr>
            <td><label th:field="*{name}">Name: </label></td>
            <td><input th:field="*{name}"></td>

        </tr>
        <tr>
            <td><label th:field="*{age}">Age: </label></td>
            <td><input th:field="*{age}"></td>
        </tr>
        <tr>
            <td colspan="2"><button>Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>